In [1]:
import pandas as pd
import os
import re

In [3]:
dir_ = os.getcwd()

In [4]:
paskolos = pd.read_csv(dir_ + "\\paskolos.csv", delimiter=";")
paskolos

,code,en_long_title,lt_long_title,date,value,power
0,BPS.M.A20.A.1.00.000.000.LT.N.PAB__.E.SR,Monetary financial institutions balance sheet ...,Pinigų finansų įstaigų balanso ir pinigų stati...,2004-04,5374.0,1000000
1,BPS.M.A20.A.1.00.000.000.LT.N.PAB__.E.SR,Monetary financial institutions balance sheet ...,Pinigų finansų įstaigų balanso ir pinigų stati...,2004-05,5570.4,1000000
2,BPS.M.A20.A.1.00.000.000.LT.N.PAB__.E.SR,Monetary financial institutions balance sheet ...,Pinigų finansų įstaigų balanso ir pinigų stati...,2004-06,5806.0,1000000
3,BPS.M.A20.A.1.00.000.000.LT.N.PAB__.E.SR,Monetary financial institutions balance sheet ...,Pinigų finansų įstaigų balanso ir pinigų stati...,2004-07,5788.3,1000000
4,BPS.M.A20.A.1.00.000.000.LT.N.PAB__.E.SR,Monetary financial institutions balance sheet ...,Pinigų finansų įstaigų balanso ir pinigų stati...,2004-08,6002.6,1000000
...,...,...,...,...,...,...
7225,BPS.M.A20.A.I.30.200.000.LT.N.PAB__.A.SR,Monetary financial institutions balance sheet ...,Pinigų finansų įstaigų balanso ir pinigų stati...,2024-04,0.0,1000000
7226,BPS.M.A20.A.I.30.200.000.LT.N.PAB__.A.SR,Monetary financial institutions balance sheet ...,Pinigų finansų įstaigų balanso ir pinigų stati...,2024-05,0.0,1000000
7227,BPS.M.A20.A.I.30.200.000.LT.N.PAB__.A.SR,Monetary financial institutions balance sheet ...,Pinigų finansų įstaigų balanso ir pinigų stati...,2024-06,0.0,1000000
7228,BPS.M.A20.A.I.30.200.000.LT.N.PAB__.A.SR,Monetary financial institutions balance sheet ...,Pinigų finansų įstaigų balanso ir pinigų stati...,2024-07,0.0,1000000
7229,BPS.M.A20.A.I.30.200.000.LT.N.PAB__.A.SR,Monetary financial institutions balance sheet ...,Pinigų finansų įstaigų balanso ir pinigų stati...,2024-08,0.0,1000000

In [5]:
paskolos.columns

Index(['code', 'en_long_title', 'lt_long_title', 'date', 'value', 'power'], dtype='object')

In [6]:
paskolos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7230 entries, 0 to 7229
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   code           7230 non-null   object
 1   en_long_title  7230 non-null   object
 2   lt_long_title  7230 non-null   object
 3   date           7230 non-null   object
 4   value          7230 non-null   float64
 5   power          7230 non-null   int64
dtypes: float64(1), int64(1), object(4)
memory usage: 339.0+ KB

In [7]:
paskolos['date'] = pd.to_datetime(paskolos['date'])

In [8]:
paskolos.describe(include="all")

,code,en_long_title,lt_long_title,date,value,power
count,7230,7230,7230,7230,7230.000000,7230.0
unique,30,30,30,NaN,NaN,NaN
top,BPS.M.A20.A.1.00.000.000.LT.N.PAB__.E.SR,Monetary financial institutions balance sheet ...,Pinigų finansų įstaigų balanso ir pinigų stati...,NaN,NaN,NaN
freq,245,245,245,NaN,NaN,NaN
mean,NaN,NaN,NaN,2014-07-30 05:04:43.817427456,2616.490526,1000000.0
min,NaN,NaN,NaN,2004-04-01 00:00:00,-3806.300000,1000000.0
25%,NaN,NaN,NaN,2009-08-01 00:00:00,0.000000,1000000.0
50%,NaN,NaN,NaN,2014-08-01 00:00:00,17.100000,1000000.0
75%,NaN,NaN,NaN,2019-08-01 00:00:00,551.375000,1000000.0
max,NaN,NaN,NaN,2024-08-01 00:00:00,59242.100000,1000000.0
std,NaN,NaN,NaN,NaN,7300.070584,0.0

In [9]:
paskolos["lt_long_title"].value_counts()

lt_long_title
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Likučiai; Geografiškai nepriskirta; Nedetalizuotas sektorius; Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Euras                                                  245
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Likučiai; Rezidentai; Nedetalizuotas sektorius; Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Euras                                                                245
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Likučiai; Rezidentai; Pinigų finansų įstaigos (bankai); Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Euras                                                        245
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Likučiai; Rezidentai; Ne pinigų finansų įstaigos (ne bankai); Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Euras                                                  245
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Likučiai; Euro zonos (išskyrus Lietuvą) rezidentai; Nedetalizuotas sektorius; Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Euras                                  245
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Likučiai; Euro zonos (išskyrus Lietuvą) rezidentai; Pinigų finansų įstaigos (bankai); Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Euras                          245
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Likučiai; Euro zonos (išskyrus Lietuvą) rezidentai; Ne pinigų finansų įstaigos (ne bankai); Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Euras                    245
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Likučiai; Kiti nerezidentai; Nedetalizuotas sektorius; Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Euras                                                         245
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Likučiai; Kiti nerezidentai; Pinigų finansų įstaigos (bankai); Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Euras                                                 245
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Likučiai; Kiti nerezidentai; Ne pinigų finansų įstaigos (ne bankai); Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Euras                                           245
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Sandoriai; Geografiškai nepriskirta; Nedetalizuotas sektorius; Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Euras                                                 245
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Sandoriai; Rezidentai; Nedetalizuotas sektorius; Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Euras                                                               245
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Sandoriai; Rezidentai; Pinigų finansų įstaigos (bankai); Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Euras                                                       245
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Sandoriai; Rezidentai; Ne pinigų finansų įstaigos (ne bankai); Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Euras                                                 245
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Sandoriai; Euro zonos (išskyrus Lietuvą) rezidentai; Nedetalizuotas sektorius; Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Euras                                 245
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Sandoriai; Euro zonos (išskyrus Lietuvą) rezidentai; Pinigų finansų įstaigos (bankai); Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Euras                         245
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Sandoriai; Euro zonos (išskyrus Lietuvą) rezidentai; Ne pinigų finansų įstaigos (ne bankai); Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Euras                   245
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Sandoriai; Kiti nerezidentai; Nedetalizuotas sektorius; Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Euras                                                        245
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Sandoriai; Kiti nerezidentai; Pinigų finansų įstaigos (bankai); Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Euras                                                245
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Sandoriai; Kiti nerezidentai; Ne pinigų finansų įstaigos (ne bankai); Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Euras                                          245
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Indeksas; Geografiškai nepriskirta; Nedetalizuotas sektorius; Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Metinis augimo tempas                                  233
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Indeksas; Rezidentai; Nedetalizuotas sektorius; Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Metinis augimo tempas                                                233
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Indeksas; Rezidentai; Pinigų finansų įstaigos (bankai); Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Metinis augimo tempas                                        233
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Indeksas; Rezidentai; Ne pinigų finansų įstaigos (ne bankai); Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Metinis augimo tempas                                  233
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Indeksas; Euro zonos (išskyrus Lietuvą) rezidentai; Nedetalizuotas sektorius; Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Metinis augimo tempas                  233
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Indeksas; Euro zonos (išskyrus Lietuvą) rezidentai; Pinigų finansų įstaigos (bankai); Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Metinis augimo tempas          233
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Indeksas; Euro zonos (išskyrus Lietuvą) rezidentai; Ne pinigų finansų įstaigos (ne bankai); Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Metinis augimo tempas    233
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Indeksas; Kiti nerezidentai; Nedetalizuotas sektorius; Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Metinis augimo tempas                                         233
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Indeksas; Kiti nerezidentai; Pinigų finansų įstaigos (bankai); Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Metinis augimo tempas                                 233
Pinigų finansų įstaigų balanso ir pinigų statistika; Mėnesinis; Paskolos; Iš viso; Indeksas; Kiti nerezidentai; Ne pinigų finansų įstaigos (ne bankai); Iš viso; Lietuva; Dėl sezoniškumo ir darbo dienos nepakoreguota; Kitos pinigų finansų įstaigos; Metinis augimo tempas                           233
Name: count, dtype: int64

In [10]:
pattern = r'(?:[^;]*;){5}([^;]*);'

In [11]:
paskolos['regex_lt_long_title'] = paskolos['lt_long_title'].str.extract(pattern)
paskolos

,code,en_long_title,lt_long_title,date,value,power,regex_lt_long_title
0,BPS.M.A20.A.1.00.000.000.LT.N.PAB__.E.SR,Monetary financial institutions balance sheet ...,Pinigų finansų įstaigų balanso ir pinigų stati...,2004-04-01,5374.0,1000000,Geografiškai nepriskirta
1,BPS.M.A20.A.1.00.000.000.LT.N.PAB__.E.SR,Monetary financial institutions balance sheet ...,Pinigų finansų įstaigų balanso ir pinigų stati...,2004-05-01,5570.4,1000000,Geografiškai nepriskirta
2,BPS.M.A20.A.1.00.000.000.LT.N.PAB__.E.SR,Monetary financial institutions balance sheet ...,Pinigų finansų įstaigų balanso ir pinigų stati...,2004-06-01,5806.0,1000000,Geografiškai nepriskirta
3,BPS.M.A20.A.1.00.000.000.LT.N.PAB__.E.SR,Monetary financial institutions balance sheet ...,Pinigų finansų įstaigų balanso ir pinigų stati...,2004-07-01,5788.3,1000000,Geografiškai nepriskirta
4,BPS.M.A20.A.1.00.000.000.LT.N.PAB__.E.SR,Monetary financial institutions balance sheet ...,Pinigų finansų įstaigų balanso ir pinigų stati...,2004-08-01,6002.6,1000000,Geografiškai nepriskirta
...,...,...,...,...,...,...,...
7225,BPS.M.A20.A.I.30.200.000.LT.N.PAB__.A.SR,Monetary financial institutions balance sheet ...,Pinigų finansų įstaigų balanso ir pinigų stati...,2024-04-01,0.0,1000000,Kiti nerezidentai
7226,BPS.M.A20.A.I.30.200.000.LT.N.PAB__.A.SR,Monetary financial institutions balance sheet ...,Pinigų finansų įstaigų balanso ir pinigų stati...,2024-05-01,0.0,1000000,Kiti nerezidentai
7227,BPS.M.A20.A.I.30.200.000.LT.N.PAB__.A.SR,Monetary financial institutions balance sheet ...,Pinigų finansų įstaigų balanso ir pinigų stati...,2024-06-01,0.0,1000000,Kiti nerezidentai
7228,BPS.M.A20.A.I.30.200.000.LT.N.PAB__.A.SR,Monetary financial institutions balance sheet ...,Pinigų finansų įstaigų balanso ir pinigų stati...,2024-07-01,0.0,1000000,Kiti nerezidentai
7229,BPS.M.A20.A.I.30.200.000.LT.N.PAB__.A.SR,Monetary financial institutions balance sheet ...,Pinigų finansų įstaigų balanso ir pinigų stati...,2024-08-01,0.0,1000000,Kiti nerezidentai

In [12]:
paskolos["regex_lt_long_title"].value_counts()

regex_lt_long_title
Rezidentai                                  2169
Euro zonos (išskyrus Lietuvą) rezidentai    2169
Kiti nerezidentai                           2169
Geografiškai nepriskirta                     723
Name: count, dtype: int64

In [13]:
paskolos.groupby(["regex_lt_long_title"])["value"].sum()

regex_lt_long_title
Euro zonos (išskyrus Lietuvą) rezidentai      774607.8
Geografiškai nepriskirta                     6305742.0
Kiti nerezidentai                            1004947.6
Rezidentai                                  10831929.1
Name: value, dtype: float64

In [14]:
paskolos.groupby(["date"])["value"].sum()

date
2004-04-01     16140.1
2004-05-01     17398.1
2004-06-01     18102.1
2004-07-01     17293.3
2004-08-01     18641.3
                ...
2024-04-01    166245.5
2024-05-01    172389.8
2024-06-01    177833.7
2024-07-01    178520.9
2024-08-01    179369.6
Name: value, Length: 245, dtype: float64